body {
    background: linear-gradient(90deg, rgba(179,132,201,1) 17%, rgba(180,138,151,1) 100%);
    font-size: 30px;
}

form input{
    padding: 5px;
}

form .button{
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

ul{
    list-style: none;
    padding-bottom: 10px;
    padding-left: 0;
}
li{
     float: left;
     margin-right: 10px;
 }
.error-block{
	color: red;
}
